<h2>Edit Recipe</h2>
<form class="form" novalidate ng-submit="$ctrl.update()">
  <div class="form-group">
    <label for="title">Title</label>
    <input ng-model="$ctrl.recipe.title" class="form-control" type="text" name="title" value="">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea ng-model="$ctrl.recipe.description" class="form-control" name="description" rows="8" cols="40"></textarea>
  </div>
  <input type="submit" class="btn btn-default" value="Update Recipe">
</form>
