<div class="form-group" ng-class="{'has-error': $ctrl.errors}">
  <label for="ingredients">Add an Ingredient</label>
  <input ng-model="$ctrl.ingredient.name" class="form-control" id="recipe-ingredient"
         type="text" name="Ingredient" value="" ng-keyup="$ctrl.addIngredient($event)">
  <span class="help-block" ng-if="$ctrl.errors">{{$ctrl.errors[0]}}</span>
</div>
<h3 ng-if="$ctrl.ingredients.length > 0">Ingredients</h3>
<ul>
  <div ng-repeat="ing in $ctrl.ingredients">
    <li ng-hide="ing._destroy && ing._destroy == 1">{{ing.name}} <span class="glyphicon glyphicon-trash" ng-click="$ctrl.remove(ing)"></span></li>
  </div>
</ul>
