<div class="form-group" ng-class="{'has-error': $ctrl.errors}">
  <label for="directiond">Add a Direction</label>
  <input ng-model="$ctrl.direction.step" class="form-control"
         type="text" name="direction" value="" ng-keyup="$ctrl.addDirection($event)">
  <span class="help-block" ng-if="$ctrl.errors">{{$ctrl.errors[0]}}</span>

</div>
<h3 ng-if="$ctrl.directions.length > 0">Directions</h3>
<ol>
  <div ng-repeat="dir in $ctrl.directions">
    <li ng-hide="dir._destroy && dir._destroy == 1">{{dir.step}} <span class="glyphicon glyphicon-trash" ng-click="$ctrl.remove(dir)"></span></li>
  </div>
</ol>
